name: Build

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: swift-actions/setup-swift@v3
        with:
          swift-version: 6.2
          skip-verify-signature: true

      - name: Build
        run: swift build
      
      - name: Run tests
        run: swift test
